.container {
  max-width: 960px;
  padding: 0 15px;
}

.mng-link,
.mng-link a {
  color: #ca0a0a !important;
}

#auth_timer_resend > span { display: none; }
#auth_timer_resend.timer > button { display: none; }
#auth_timer_resend.timer > span { display: block; }


.image2 {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 5px;
  /*border: 1px solid #f5f5f5;
  border-radius: 10px;
  background: white;*/
  box-sizing: initial;
}

.image2 > div {
  display: block;
  width: 200px;
  height: 200px;
  position: relative;
}

.image2 > div > img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}